<!DOCTYPE html>
<html lang="ru">

<head>
    <title>bootstrap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<div class="mx-auto" style="width: 200px;">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if current_page =<&lt %}
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="index{{current_page - 1}}.html" tabindex="-1"
                   aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            {% for page in range(1, all_pages + 1) %}
            {% if current_page == page%}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{page}}.html">{{page}} <span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link" href="index{{page}}.html">{{page}}</a></li>
            {% endif %}
            {% endfor %}
            {% if current_page >= all_pages%}
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="index{{current_page + 1}}.html" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
            </li>
        </ul>
    </nav>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            {%for first_book in first_books%}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {%if first_book.img_src%}
                        <img src="{{first_book.img_src}}" class="card-img" alt="NO IMAGE">
                        {% else %}
                        <img src="{{pages/dest_folder/nopic.gif}}" class="card-img" alt="NO IMAGE">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{first_book.title}}</h5>
                            <p class="card-text">{{first_book.author}}</p>
                            <p class="card-text"><small class="text-muted"><a href="{{first_book.book_path}}">Читать</a></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <div class="col">
            {%for second_book in second_books%}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{second_book.img_src}}" class="card-img" alt="NO IMAGE">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{second_book.title}}</h5>
                            <p class="card-text">{{second_book.author}}</p>
                            <p class="card-text"><small class="text-muted"><a
                                    href="{{second_book.book_path}}">Читать</a></small></p>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>
